<div class="logo">
    <div style="padding:0px;float:left;width:20%;opacity:0.85;text-align:center;">
        <img src="./img/kinnil.png" width="350px" height="auto" alt="logo kinnil">
    </div>
    <div style="padding:20px ;float:right;width:30%; height:50px; opacity:0.85;text-align:center;"> <!-- TODO: Alinear esto dependiendo del logo que se ponga -->
        <img src="./img/logo-empresa.png" width="350px" height="auto" alt="logo kinnil">
    </div>
</div>