<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Rendimiento</title>

   <style>
        @media print
        {    
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
    </style>
</head>

<body>


<%include ../partials/logos %>
<div class="menu">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading no-print">
            <ul class="nav nav-tabs">
                <li><a href="inicio">Inicio</a></li>
                <li><a href="disponibilidad">Disponibilidad</a></li>
                <li class="active"><a href="rendimiento">Rendimiento</a></li>
                <li><a href="calidad">Calidad</a></li>
                <li><a href="oee">OEE</a></li>
                <li><a href="modificarcalidad">Modificar calidad</a></li>
                <li><a href="superusuario">Panel super usuario</a></li>
                <li class="pull-right">
                    <a href="configuracion" class="btn btn-primary-outline"><i class="fa fa-cog" aria-hidden="true"> Configuración</i></a>
                </li>
                <li class="pull-right">
                    <a href="usuario" class="btn btn-primary-outline"><i class="fa fa-user-o" aria-hidden="true"> <%= user.username %></i></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="container">
                    <div class="row">
                        
                            
                            <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <h2>Rendimiento</h2>
                                <hr/>
                                <div class="content">
                                    <%include ../partials/search %>
                                </div>
                            </div>
                            </div>
                    
                            <div >
                                <div class="row" >
                                    <div class="col-lg-6 col-sm-6 col-p-12">
                                        <div style="width: 600px; height: 400px; margin: 0 auto">
                                            <div id="rendimiento" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-p-12 text-center">
                                        <div class="jumbotron">
                                            <h1 id= "piezas-totales-titulo"></h1> 
                                            <p id= "piezas-totales"></p> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer %>


   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script src="/socket.io/socket.io.js"></script> 
   <%include ../partials/js %>
   <%include ../partials/js-search %>
   <script type="text/javascript" src='./js/highcharts.js'></script>
   <script type="text/javascript" src='./js/highcharts-more.js'></script>
   <script type="text/javascript" src='./js/solid-gauge.js'></script>
   <script>
        // Se hace la consulta segun los campos seleccionados
        // TODO: tomar en cuenta las reglas del negocio a programar
        // una planta o todas, una area a todas, un producto o varios mas 
        // TODO: ya no encontre las demas hojas, hay que retomar con ricardo y ver si va a haber casos especificos donde se seleccione por maquina
        //
        // dev.kinnilweb.com
        //var socket = io.connect('http://ec2-18-219-18-35.us-east-2.compute.amazonaws.com:3000');
        // ezair.kinnilweb.com
        //var socket = io.connect('http://ec2-13-58-128-66.us-east-2.compute.amazonaws.com:3000');
        // localhost:3000
        //var socket = io.connect('localhost:3000');
        // nuevo ambiente de pruebas
        var socket = io.connect('http://ec2-18-222-91-253.us-east-2.compute.amazonaws.com:3000');

        // VISTEON
        //var socket = io.connect('http://159.65.96.228:3000');

        function consultar(e) {
            var e = window.event || e;
	        var targ = e.target || e.srcElement;

            console.log("se hizo una consulta");

            var json = {}
            json.planta = $("#plantas-choice").val();
            json.area = $("#areas-choice").val();
            json.turno = $("#turno").val();
            json.producto = $("#producto").val();
            json.inicio = fechaInicio.format('YYYY-MM-DD'); // TODO: hay que ver si esta fecha siempre va a ser igual o si falla como en C#
            json.fin = fechaFin.format('YYYY-MM-DD');
            json.horaInicio = $('#horaInicio').val();
            json.horaFin = $('#horaFin').val();
            json.tipo = tipo;
            // TODO: Agregar las validaciones
            // TODO: desplegar un mensage de que no se puede graficar si es que el reporte no regreso datos

            e.preventDefault(); // Previene que ocurra el evento POST y se refresque la pagina asi como asi

            // No hace POST si no hay productos o turnos seleccionados
            if (tipo == 'turno' && json.turno == 'noturnos'){
                alert("No se puede obtener el reporte por turnos, No hay turnos"); 
                return;
            }
            if (tipo == 'producto' && json.producto == 'noproductos'){
                alert("No se puede obtener el reporte por productos, No hay productos");
                return;
            }
            socket.emit('reporte-oee', json);
        }

        function toPDF(e){
            var e = window.event || e;
	        var targ = e.target || e.srcElement;
            e.preventDefault();
            window.print();
        }

        socket.on('reporte-oee', function(message) {

            window.scroll({ top: 500, left: 0, behavior: 'smooth' }); // Scroll sencillo smooth
            
            $("#piezas-totales-titulo").html("Mts");
            $("#piezas-totales").html(message.rendimiento[0].piezas);

            /*  
            * Gauges
            */
            var gaugeOptions = {

            chart: { type: 'solidgauge' },
            title: null,
            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            tooltip: {
                enabled: false
            },
            // the value axis
            yAxis: {
                stops: [
                    [0.1, '#DF5353'], // green
                    [0.5, '#DDDF0D'], // yellow
                    [0.9, '#55BF3B'] // red
                ],
                lineWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    y: -70
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
            };

            // rendimiento
            var chartRendimiento = Highcharts.chart('rendimiento', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Rendimiento'
                }
            },
            title: {
                text: 'Rendimiento'
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Rendimiento',
                data: [message.rendimiento[0].rendimiento],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">%</span></div>'
                },
                tooltip: {
                    valueSuffix: ' %'
                }
            }]

            }));


        });


        $("#plantas-choice").change(function() { // Cada vez que se cambie de plantas

            var $dropdown = $(this);
            var id = $dropdown.val();  // Se obtiene el ID de la planta seleccionada

            // Se hace una limpieza por si el formario no estaba como valido
            document.getElementById("areas-choice-div").classList.remove('has-error');
            $("#btnConsultar").removeAttr('disabled','disabled');
            $("#btnConsultar").attr('enabled','enabled');

            if (id == "all"){ 
                location.reload(); // Si todas las plantas estan seleccionadas se refresca la pagina para obtener los campos como al principio
            } else {
                socket.emit('cambio-planta', id); // Si se selecciona cualquier otra se manada el ID por un socket
            }
        });


        socket.on('cambio-planta', function(returnData) {


            // se vacian estos select inputs para agregar nuevos datos.
            var $areasChoice = $("#areas-choice");
            $areasChoice.empty();

            var $turnosChoice = $("#turno");
            $turnosChoice.empty();

            var $productosChoice = $("#producto");
            $productosChoice.empty();

            // AREAS
            if (returnData.areas == ""){ // Si no hay areas!
                
                // Se marca un error y se deshabhilita el boton de sumbit
                $areasChoice.append("<option value='noareas'> Planta sin areas, por favor seleccione otra planta </option>");
                document.getElementById("areas-choice-div").classList.add('has-error');
                $("#btnConsultar").removeAttr('enabled','enabled');
                $("#btnConsultar").attr('disabled','disabled');

            } else {

                // Se llena el input select con todas las areas
                $areasChoice.append("<option value='all-areas' > Todas las areas </option>")  
                for (var i = 0, l = returnData.areas.length; i < l; i += 1) { // TODO: medir si este loop es mas rapido que el normalito
                    $areasChoice.append("<option value="+ returnData.areas[i].id +" >" + returnData.areas[i].nombre + "</option>");
                    $("#btnConsultar").removeAttr('disabled','disabled');
                    $("#btnConsultar").attr('enabled','enabled'); // Habilita el boton por que cambiaron a una planta que si tiene areas
                }
            }

            // TURNOS
            if (returnData.turnos == ""){ // Si no hay turnos!

                $turnosChoice.append("<option value='noturnos'> No hay turnos en esta planta, seleccione otra opcion </option>");
            } else {

                // Se llena el input select con los turnos
                for (var i = 0, l = returnData.turnos.length; i < l; i += 1) { // TODO: medir si este loop es mas rapido que el normalito
                    $turnosChoice.append("<option value="+ returnData.turnos[i].id +" >" + returnData.turnos[i].nombre + "</option>");
                }
            }

            // PRODUCTOS 
            if (returnData.productos == ""){ // Si no hay productos

                $productosChoice.append("<option value='noproductos'> No hay productos en esta planta, seleccione otra opcion </option>");
            } else {

                // Se llena el input select con los productos
                for (var i = 0, l = returnData.productos.length; i < l; i += 1) { 
                    $productosChoice.append("<option value="+ returnData.productos[i].id +" >" + returnData.productos[i].nombre + "</option>");
                }
            }
        })

    </script>
</body>
</html>